@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  font-family: Atkinson Hyperlegible;
}

body {
  background-color: #152938;
}